html, body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

#container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#menu {
    border: 1px solid blue;
    height: 80px;
}

#menu-bar {
    border: 1px solid grey;
    height: 20px;
}

#menu-container {
    border: 1px solid magenta;
    height: 60px;
}

#menu-bar > div {
    display: inline-block;
    padding-left: 5px;
}

.menu-bar-item:hover {
    transform: scale(1.1);
    border-bottom: 0.5px solid red;
    cursor: pointer;
}

.menu-bar-item.selected {
    border: 0px 2px;
    color: hotpink;
}

#menu-container > div {
    display: inline-block;
    padding-left: 5px;
}

#menu-container > div:hover {
    transform: scale(1.1);
    border-bottom: 0.5px solid red;
    cursor: pointer;
}

#formula-bar {
    border: 1px solid green;
    height: 20px;
}

#content-container {
    border: 1px solid red;
    height: calc(100vh - 122px);
    overflow: auto;
    position: relative;
}

#sheets-bar {
    border: 1px solid black;
    height: 20px;
}

#top-left-cell {
    top : 0px;
    left : 0px;
    height: 25px;
    width: 25px;   
    border: 1px solid black;
    background-color: grey;
}

#top-row {
    display: flex;
    flex-direction: row;
    left : 25px;
    top : 0px;
    position: absolute;
}

#left-col {
    display: flex;
    flex-direction: column;
    left : 0px;
    top : 25px;
    position: absolute;
}

#top-row .cell {
    height: 25px;
    background-color: grey;
    /* width: 25px; */
}

#left-col .cell {
    height: 25px;
    width: 25px;
    background-color: grey;
}

#grid {
    display: flex;
    flex-direction: column;
    top: 25px;
    left : 25px;
    position: absolute;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    border: 1px solid black;
    width: 75px;
    height: 25px;
    text-align: center;
}